```{=html}
<% 
// Sort items by the class property
items.sort((a, b) => parseFloat(a.class) - parseFloat(b.class));
for (const item of items) { 
%>
<h3>Занятие <%= item.class %>  •  <a href="<%= item.presentation %>">📄 Материалы</a>  •  <a href="<%= item.notes %>">📝 Записи</a></h3>
<table class="quarto-listing-table table">
    <tbody class="list">
        <% for (const topic of item.topics) { %>
        <tr>
            <td>
                <span class="listing-title"><%= topic.title %></span>
            </td>
            <td>
                <span class="listing-title"><%= topic.practicum_title %> 
                <% if(topic.practicum_url) { %>
                    <a href="<%= topic.practicum_url %>">🐍 code</a>
                <% } %>
                </span>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<% } %>
```